<!-- TODO
* Extract copying assets to a separate later in the dockerfile so it will be stored more efficiently
* Add cream colored outline to header
* Fold main menu buttons into 1
-->

<page-container [books]="books" [modernizable]="true" [weergave]="weergave">
  <div id="recipes">
    <div *ngFor="let column of recipes">
      <recipe-teaser
        *ngFor="let recipe of column"
        [recipe]="recipe[0]"
        [modernize]="modernize"
      ></recipe-teaser>
    </div>
  </div>
</page-container>
