<div id="container">
  <div id="centerColumn">
    <book-teasers [books]="books" [weergave]="weergave"></book-teasers>

    <div style="gap: 16px; align-items: end">
      <toolbar
        [(modernize)]="modernize"
        [modernizable]="true"
      ></toolbar>
      <h3>Aanraders</h3>
    </div>

    <div id="recipes">
      <div>
        <recipe-teaser
          [recipe]="recipes[0][0]"
          [book]="recipes[0][1]"
          [modernize]="modernize"
        ></recipe-teaser>
        <recipe-teaser
          [recipe]="recipes[27][0]"
          [book]="recipes[27][1]"
          [modernize]="modernize"
        ></recipe-teaser>
        <recipe-teaser
          [recipe]="recipes[129][0]"
          [book]="recipes[129][1]"
          [modernize]="modernize"
        ></recipe-teaser>
      </div>
      <div>
        <recipe-teaser
          [recipe]="recipes[171][0]"
          [book]="recipes[172][1]"
          [modernize]="modernize"
        ></recipe-teaser>
        <recipe-teaser
          [recipe]="recipes[483][0]"
          [book]="recipes[483][1]"
          [modernize]="modernize"
        ></recipe-teaser>
        <recipe-teaser
          [recipe]="recipes[473][0]"
          [book]="recipes[473][1]"
          [modernize]="modernize"
        ></recipe-teaser>
      </div>
      <div>
        <recipe-teaser
          [recipe]="recipes[87][0]"
          [book]="recipes[87][1]"
          [modernize]="modernize"
        ></recipe-teaser>
        <recipe-teaser
          [recipe]="recipes[482][0]"
          [book]="recipes[482][1]"
          [modernize]="modernize"
        ></recipe-teaser>
        <recipe-teaser
          [recipe]="recipes[166][0]"
          [book]="recipes[166][1]"
          [modernize]="modernize"
        ></recipe-teaser>
      </div>

      <!-- <div>
        <ng-container *ngFor="let recipe of recipes; let i = index; let even = even">
          <recipe-teaser *ngIf="even" [recipe]="recipe[0]" [book]="recipe[1]"></recipe-teaser>
        </ng-container> 
      </div>
      <div>
        <ng-container *ngFor="let recipe of recipes; let i = index; let odd = odd">
          <recipe-teaser *ngIf="odd" [recipe]="recipe[0]" [book]="recipe[1]"></recipe-teaser>
        </ng-container> 
      </div> -->
    </div>
  </div>
</div>

<!--
  <p>Website naam / navigatie</p>
  
  <p>Honderden vergeten, historische en excentrieke recepten!</p>
  
  <div>
    <p>Uitgelicht recept</p>
  </div>
  
  <p>boeken</p>
  
  <ul>
    <li>Catchy Headline: number, specific, strong words</li>
    <li><a href="recepten">In den eersten wildi maken een wit bruwet tot capuynen ofte tot kieckenen oft tot
        calfvleessce</a></li>
  </ul>
-->

<!--

Power words
https://optinmonster.com/700-power-words-that-will-boost-your-conversions/


-->
