<!-- TODO
* Extract copying assets to a separate later in the dockerfile so it will be stored more efficiently
* Add cream colored outline to header
* Fold main menu buttons into 1
-->

<page-container
  [books]="books"
  (modernize)="(modernize)"
  [modernizable]="true"
  [weergave]="weergave"
>
  <div class="responsive-column" id="test">
    <div id="recently-liked">
      <h3>Recent verleckerd</h3>
      <div id="recently-liked-items">
        <a *ngFor="let like of likes" routerLink="{{ like.recipe | recipeUrl }}">
          <img
            src="{{ like.recipe | recipeImageUrl }}"
            title="{{
              modernize
                ? like.recipe.modernized.title
                : like.recipe.historical.title
            }}"
          />
        </a>
      </div>
    </div>

    <recipes-overview
      [recipes]="recipes"
      [modernize]="modernize"
    />
  </div>
</page-container>
