recipes-overview {
    flex: 1;
}

#recently-liked {
    flex-direction: column; 
    gap: 8px; 
    overflow: clip;
}

#recently-liked h3 {
    white-space: nowrap;
    text-shadow: 
       1px  1px 0 #F1E4D3,
      -1px -1px 0 #F1E4D3,
       1px -1px 0 #F1E4D3,
      -1px  1px #F1E4D3;
}

#recently-liked-items a {
    display: flex; 
    aspect-ratio: 1 / 1;
}

#recently-liked-items img {
    border-radius: 8px;
    aspect-ratio: 1 / 1;
    width: 100%;
}

#recently-liked-items {
    gap: 8px;
}

#test {
    display: flex;
    gap: 16px;
}

@media screen and (max-width: 774px) {
    #recently-liked a {
        width: calc((100% - 32px) / 5);
    }

    #recently-liked-items {
        flex-direction: row; 
        flex-wrap: nowrap;
    }

    .responsive-column {
        flex-direction: column;
        gap: 16px;
    }
}

@media screen and (min-width: 774px) {
    #recently-liked a {
        width: 12em;
    }

    #recently-liked-items {
        flex-direction: column;
    }

    .responsive-column {
        flex-direction: row-reverse;
        gap: 16px;
    }
}