#top {
    flex-direction: column; 
    gap: 16px;
    margin-top: 16px;
    margin-bottom: 256px;
}

#centerColumn {
    flex-direction: column; 
    /* width: 790px;  */
    background: white;
    margin: 0px auto;
    padding: 32px;
    /* border: 1px solid #cfcfcf; */
    border-radius: 8px;
    color: #5F5053;
}

.pageTitleContainer {
    flex-grow: 1; 
    align-self: center;
    flex-direction: row-reverse;
}

@media screen and (min-width: 700px) {
    #centerColumn {
        padding: 96px;
    }

    .comment {
        padding: 32px 96px; 
    }

    book-teaser {
        flex-basis: calc((100% - 16px)/2);
        border-radius: 8px;
        overflow: hidden;
    }
}

@media screen and (max-width: 700px) {
    #centerColumn {
        padding: 32px;
    }

    .comment {
        padding: 32px;
    }

    book-teaser {
        flex-basis: 100%;
    }

    #toolbarContainer {
      flex-direction: column;
      text-align: center;
    }
}

@media screen and (max-width: 1000px) {
    #top {
        margin-top: 16px;
    }
}

#toolbarContainer {
    gap: 16px;
    text-shadow: 
       1px  1px 0 #F1E4D3,
      -1px -1px 0 #F1E4D3,
       1px -1px 0 #F1E4D3,
      -1px  1px #F1E4D3;
}

.comment {
    flex-direction: column; 
    background: white; 
    border-radius: 8px; 
    color: #4d4d4d; 
    margin-bottom: 96px; 
    gap: 16px;
}