<h1>Cokeryen</h1>

<div id="top">
  <book-teasers [books]="books" [weergave]="weergave"></book-teasers>

  <div id="toolbarContainer">
    <toolbar
      [(modernize)]="modernize"
      [modernizable]="bookRef ? books[bookRef].modernized : true"
    ></toolbar>
    <div class="pageTitleContainer">
      <h3>{{ bookRef ? books[bookRef].title : "" }}</h3>
    </div>
  </div>

  <div id="centerColumn">
    <recipe-complete
      *ngIf="recipe && book"
      [recipe]="recipe"
      [book]="book"
      [modernize]="modernize"
    ></recipe-complete>
  </div>

  <div class="comment" *ngIf="recipe?.id === 1">
    <p
      style="font-variant: small-caps; color: #aaa; flex-direction: row-reverse"
    >
      <span>17 juli 2024</span>
      &nbsp;&mdash;&nbsp;
      <span style="font-weight: bold">Terranova</span>
    </p>
    <p>
      Zelf gemaakt en was echt lekker! Ook veel makkelijker dan gedacht. Wel
      citroensap gebruikt ipv verjus en de amandelen voorgemalen gekocht
      (amandelmeel). Bij mij was de saus wel veel dikker.
    </p>
    <img
      src="/assets/usercontent/0123456789abcdef.webp"
      style="max-width: 100%"
    />
  </div>

  <div class="comment" *ngIf="recipe?.id == 28">
    <p
      style="font-variant: small-caps; color: #aaa; flex-direction: row-reverse"
    >
      <span>8 augustus 2024</span>
      &nbsp;&mdash;&nbsp;
      <span style="font-weight: bold">Terranova</span>
    </p>
    <p>
      Echt een aanrader, erg lekker! Ik heb wel veel van de ingrediënten
      vervangen met moderne en/of vegetarische tegenhangers, maar het lukte in
      1x. Mijn ingrediënten:
    </p>
    <ul>
      <li>400 gram vegetarische kipstukjes</li>
      <li>100 gram boter ofzo, iig veel, ipv reuzel</li>
      <li>300 a 400 ml champignonbouillon ipv vleesbouillon</li>
      <li>
        400 gram peterselie - een volgende keer kan dit gerust 2x zoveel zijn om
        het echt groen te krijgen
      </li>
      <li>2 a 3 eidooiers</li>
      <li>3 sneetjes ontkorstte wit casinobrood</li>
      <li>2 duimen verse gember ipv gemberpoeder</li>
      <li>citroen ipv verjus</li>
      <li>'Fijn kruid' liet ik weg</li>
    </ul>
    <p>
      Het gember bakte ik eerst samen met de kipstukjes in de boter, Het
      witbrood weekte ik in water en prakte ik fijn met vork ipv de zeef. Ik
      wachtte tot nadat het gerecht een beter was afgekoeld voordat ik de
      eidooier toevoegde, omdat ik bang was dat het ging stollen en vlokken. Een
      volgende keer kan het mits goed gemengd met het witbrood er wel direct
      doorheen.
    </p>
    <img
      src="/assets/usercontent/1234567890abcdef.webp"
      style="max-width: 100%"
    />
  </div>

  <div class="comment" *ngIf="recipe?.id === 379">
    <p
      style="font-variant: small-caps; color: #aaa; flex-direction: row-reverse"
    >
      <span>8 augustus 2024</span>
      &nbsp;&mdash;&nbsp;
      <span style="font-weight: bold">Terranova</span>
    </p>
    <p>
      Deze vond ik geen groot succes, omdat ik de verhouding appel (2 kleine) vs
      spinazie (400g) te veel naar de eerste vond uitslaan. Ook was ik niet echt
      onder de indruk van de azijn/wijn/suiker smaak. Ik gebruikte AH
      biologische witte azijn, maar misschien is een hoogwaardigere azijn met
      een smaakje, bv appelazijn lekkerder.
    </p>
    <p>
      Verder gebruikte ik verse gember die ik van te voren had gebakken in de
      pan. De spinazie verkleurde ook iets te veel dus moet korter een volgende
      keer. Dus:
    </p>
    <ul>
      <li>Minder appel vs spinazie</li>
      <li>Lekkerdere azijn</li>
      <li>Spinazie minder lang garen</li>
    </ul>
    <img
      src="/assets/usercontent/2345678901abcdef.webp"
      style="max-width: 100%"
    />
  </div>
</div>
