<div id="bookTeaserContainer">
    <book-teaser style="background: green;">
        <span year>1514</span>
        <span title>Een notabel boecxken van cokeryen</span>
    </book-teaser>
    <book-teaser style="background: #8b5161;">
        <span year>1593</span>
        <span title>Eenen seer schoonen ende excellenten Cocboeck</span>
    </book-teaser>
    <book-teaser style="background: hwb(46 26% 8%); color: #4a4a4a">
        <span year>1669</span>
        <span title>Eenen seer schoonen ende excellenten Cocboeck</span>
    </book-teaser>
    <book-teaser style="background: #e88230;">
        <span year>1752</span>
        <span title>De volmaakte Hollandsche keuken-meid</span>
    </book-teaser>
</div>
<div id="centerColumn">
    <recipe-complete *ngIf="recipe && book" [recipe]="recipe" [book]="book"></recipe-complete>
</div>