<article
  class="recipeTeaser"
  class="box"
  style="
    flex-direction: column;
    padding: 16px 16px 16px;
    border-radius: 8px;
    gap: 8px;
  "
>
  <p class="author">
    <a class="author" href="/boeken/{{ recipe.book.reference }}">{{ recipe.book.title }}</a>
  </p>
  <h2>
    <a
      routerLink="/recepten/{{ recipe.book.reference }}/{{ recipe.number }}"
      [queryParams]="{weergave: modernize ? 'moderniseren' : 'historiseren'}"
      >{{
        (modernize && recipe.modernized 
          ? recipe.modernized.title
          : (recipe.historical.title | normalizeRecipeText)
        ) | toSentenceCase
      }}</a
    >
  </h2>
  <a
    routerLink="/recepten/{{ recipe.book.reference }}/{{ recipe.number }}"
    [queryParams]="{weergave: modernize ? 'moderniseren' : 'historiseren'}"
    *ngIf="recipe.modernized"
    ><img
      loading="lazy"
      src="{{ recipe | recipeImageUrl }}"
      style="
        width: calc(100% + 32px);
        position: relative;
        left: -16px;
        margin: 8px 0px;
      "
  /></a>

  <div>
    <ul
      style="
        display: flex;
        flex-direction: row;
        list-style: none;
        column-gap: 16px;
        margin: 0px;
        padding: 0px;
        flex-wrap: wrap;
      "
    >
      <li *ngFor="let tag of recipe.tags ?? []">
        <a routerLink="/recepten" [queryParams]="{ tag: tags.concat([tag]) }" queryParamsHandling="merge"
          >#{{ tag }}</a
        >
      </li>
    </ul>
  </div>
</article>
