<page-container [books]="books" [modernizable]="recipes.length > 0" [weergave]="weergave" [pageTitle]="'Profiel van ' + (user?.name ?? '')">
  <div *ngIf="user" class="content" style="gap: 6px">
    <div style="flex-direction: row; gap: 12px">
      <div style="flex-direction: column;">
        <img *ngIf="user.picture"  style="max-width: 96px; max-height: 96px;" [src]="user.picture" />
      </div>
      <div style="flex-direction: column; gap: 6px">
        <p>Weergavenaam: {{ user.name }}</p>
        <p>
          E-mail: {{ user.email }} &nbsp;<span *ngIf="user.email_verified"
            >✅</span
          >
        </p>
        <p>Je vindt {{ recipes.length }} historische recepten lekker</p>
      </div>
    </div>
  </div>

  
  <recipes-overview
    [numColumns]="3"
    [recipes]="recipes"
    [modernize]="modernize"
  ></recipes-overview>
</page-container>
