<div id="toolbar">
  <a routerLink="/" queryParamsHandling="preserve"><button>⌂</button></a>
  <button
    (click)="toggle()"
    [disabled]="!modernizable"
    routerLink="./"
    [queryParams]="{ weergave: label.toLowerCase() }"
    queryParamsHandling="merge"
  >
    {{ label }}
  </button>
  <button *ngIf="!authenticated" [disabled]="authenticated === undefined" (click)="login()">Log in</button>
  <button *ngIf="authenticated" [disabled]="authenticated === undefined" (click)="logout()">Log uit</button>
  <button [disabled]="!authenticated" routerLink="/profiel">Profiel</button>
</div>
