#toolbar {
    gap: 4px;
}

button:nth-child(4) {
    margin-left: 8px;
}

button {
    /* border: 2px solid #BC5347;
    color: #BC5347;
    background: white; */
    border: 0px;
    background: #5F5053;
    color: #F1E4D3;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}

button:hover {
    /* background: #F1E4D3; */
    background: #BC5347;
    /* text-decoration: underline; */
    cursor: pointer;
}

button[disabled] {
    /* background: #C3B8BA; */
    background: #948185;
    /* color: #948185; */
    cursor: auto;
}