<article class="recipeTeaser" class="box"
  style="flex-direction: column; padding: 16px 32px 16px; border-radius: 8px; gap: 8px;">
  <p class="author"><a class="author" href="/boeken/{{recipe.bookRef}}">{{book.title}}</a></p>
  <h2><a routerLink="/recepten/{{recipe.bookRef}}/{{recipe.id}}">{{modernize && recipe.modernized ? recipe.modernized.title : recipe.title}}</a></h2>
  <img src="/assets/gerechten/{{recipe.bookRef}}/{{recipe.bookRef}}-{{recipe.id}}.jpg" style="width: calc(100% + 64px); position: relative; left:-32px; margin: 8px 0px;"
    *ngIf="['Noot1514', 'N1669'].indexOf(recipe.bookRef) >= 0" />
  <!--<p><span>{{(modernize && recipe.modernized ? recipe.modernized.recipe : recipe.instructions) | recipeShortInstructions}} <a href="/recepten/{{recipe.bookRef}}/{{recipe.bookRef}}">➤</a></span>
  </p>-->

  <div>
    <ul style="display: flex; flex-direction: row; list-style: none; column-gap: 16px; margin: 0px; padding: 0px; flex-wrap: wrap;">
      <li *ngFor="let tag of recipe?.modernized?.tags ?? []">#{{tag}}</li>
    </ul>
  </div>
</article>