#return {
    position: absolute;
    right: 0px;
    top: -1px;
    font-size: 20pt;
    background: white;
    padding: 2px 0px 2px 12px;
    border-bottom-left-radius: 8px;
}

#return a {
    text-decoration: none;
}

#return a:hover {
    text-decoration: underline;
}

#recipeSection {
    flex-direction: column;
}

#recipeHeader {
    gap: 32px;
}

button {
    /* border: 2px solid #BC5347;
    color: #BC5347;
    background: white; */
    border: 0px;
    background: #5F5053;
    color: #F1E4D3;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}

button:hover {
    /* background: #F1E4D3; */
    background: #BC5347;
    /* text-decoration: underline; */
    cursor: pointer;
}

button[disabled] {
    /* background: #C3B8BA; */
    background: #948185;
    /* color: #948185; */
    cursor: auto;
}

@media screen and (max-width: 774px) {
    #return {
        top: -32px;
        right: -32px;
        z-index: 10;
        border-top-right-radius: 8px;
        padding: 6px 12px 2px;
    }

    #recipeSection {
        gap: 32px;
    }

    #recipeHeader {
        flex-direction: column;
    }

    #recipeHeader > div > img {
        max-width: calc(100% + 64px);
        max-height: calc(100% + 64px);
        position: relative;
        top: -32px;
        left: -32px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        margin-bottom: -32px;
    }

    #recipeStatistics {
        margin-top: 16px !important;
    }

    #recipeInstructions {
        flex-direction: column;
    }
}

@media screen and (min-width: 774px) {
    #recipeInteractivities {
        margin-bottom: auto;
    }

    #recipeSection {
        gap: 96px;
    }

    #recipeHeader {
        flex-direction: row-reverse;
    }

    #recipeHeader > div > img {
        max-width: 400px;
        max-height: 400px;
    }

    #recipeInstructions {
        flex-direction: row-reverse;
    }
}

#recipeHeader > *:nth-child(2) {
    flex-grow: 2;
}

#recipeHeader h2 {
    font-size: 28pt;
}

#recipeSection .author {
    color: #aaa;
}

p.author {
    line-height: 1.2;
}

a.author {
    color: #aaa;
    text-decoration: none;
    font-variant: small-caps;
}

a.author:hover {
    color: #888;
    text-decoration: underline;
}

#recipeIntro {
    flex-direction: column; 
    gap: 8px;
}

#recipeInteractivities {
    gap: 4px;
}

#recipeStatistics {
    justify-content: space-evenly;
}

.recipeStatistic {
    flex-direction: column;
    text-align: center;
    /* color: #512630; */
    /* color: #e88230; */
    color: #BC5347;
    padding: 12px;
    border: 1px solid white;
    outline: 2px solid white;
    border-radius: 8px;
}

.recipeStatistic span:first-child {
    font-size: 26pt;
    font-weight: bold;
}

.inverted {
    color: white;
    background: #BC5347;
    outline: 2px solid #BC5347;
}

.rounded {
    border-radius: 32px;
}

#recipeInstructions p {
    line-height: 2;
}