<div style="position: relative">
  <span id="return"><a href="/" title="Terug naar de hoofdpagina">⮐</a></span>
</div>
<article id="recipeSection">
  <div id="recipeHeader">
    <div style="display: flex">
      <img src="{{ recipe | recipeImageUrl }}" *ngIf="book.modernized" />
      <img
        src="/assets/notabel.jpg"
        *ngIf="!book.modernized"
      />
    </div>
    <div id="recipeIntro">
      <h2>
        {{
          (modernize && recipe.modernized
            ? recipe.modernized.title
            : (recipe.historical.title | normalizeRecipeText)
          ) | toSentenceCase
        }}
      </h2>
      <div style="flex-direction: column; gap: 2px">
        <p class="author">
          <a class="author" href="/boeken/{{ book.reference }}">{{ book.title }}</a>
        </p>
        <p class="author">
          <a class="author" href="/koks/{{ book.person }}">{{ book.person }}</a
          >&nbsp;&mdash;&nbsp;<a
            class="author"
            href="/transcribenten/{{ book.transcriber }}"
            >{{ book.transcriber }}</a
          >
        </p>
      </div>
      <div *ngIf="user" id="recipeInteractivities">
        <div class="recipeInteractivity">
          <button *ngIf="!(user | liked: recipe)" (click)="submitLike()"><i class="fa-regular fa-bookmark"></i></button>
          <button *ngIf="user | liked: recipe" (click)="submitUnlike()"><i class="fa-solid fa-bookmark"></i></button>
        </div>
      </div>
      <div id="recipeStatistics">
        <div class="recipeStatistic">
          <span>{{ recipe | recipeNumLikes }}</span>
          <span>{{ (recipe | recipeNumLikes) == 1 ? 'lecker' : 'leckers' }}</span>
        </div>
        <div class="recipeStatistic">
          <span>{{ book.year }}</span>
          <span>gepubliceerd</span>
        </div>
        <!-- <div class="recipeStatistic inverted rounded">
          <span>{{ getNameSymbol() }}</span>
        </div> -->
      </div>
    </div>
  </div>

  <div style="height: 1px; background: #cfcfcf"></div>

  <div style="flex-direction: column">
    <div id="recipeInstructions" style="gap: 48px">
      <div
        style="flex-direction: column"
        *ngIf="modernize && recipe.modernized"
      >
        <h3>Ingrediënten</h3>
        <ul style="margin: 0px 0px 0px 16px; padding: 0px; min-width: 200px">
          <li *ngFor="let ingr of recipe.modernized.ingredients">
            <a routerLink="/recepten" [queryParams]="{ 
              ingredient: ingr[1],
              weergave: modernize ? 'moderniseren' : 'historiseren'
            }">{{ ingr[1] }}</a>
            &nbsp;<span *ngIf="ingr[0]">({{ ingr[0] }})</span>
          </li>
        </ul>
      </div>
      <div style="flex-direction: column; flex-grow: 1">
        <h3>Handelingen</h3>
        <p
          *ngFor="
            let par of (modernize && recipe.modernized
              ? recipe.modernized.instructions
              : (recipe.historical.instructions | normalizeRecipeText)
            ).split('\n')
          "
        >
          {{ par }}
        </p>
      </div>
    </div>

    <div style="margin-top: 16px">
      <ul
        style="
          display: flex;
          flex-direction: row;
          list-style: none;
          column-gap: 16px;
          margin: 0px;
          padding: 0px;
          flex-wrap: wrap;
        "
      >
        <li *ngFor="let tag of recipe.tags">
          <a
            routerLink="/recepten"
            [queryParams]="{
              tag: tag,
              weergave: modernize ? 'moderniseren' : 'historiseren'
            }"
            >#{{ tag }}</a
          >
        </li>
      </ul>
    </div>
  </div>
</article>
