<article
  class="recipeTeaser"
  class="box"
  style="
    flex-direction: column;
    padding: 16px 32px 16px;
    border-radius: 8px;
    gap: 8px;
  "
>
  <p class="author">
    <a class="author" href="/boeken/{{ recipe.bookRef }}">{{ book.title }}</a>
  </p>
  <h2>
    <a
      routerLink="/recepten/{{ recipe.bookRef }}/{{ recipe.id }}"
      [queryParams]="{weergave: modernize ? 'moderniseren' : 'historiseren'}"
      >{{
        (modernize && recipe.modernized
          ? recipe.modernized.title
          : (recipe.title | normalizeRecipeText)
        ) | toSentenceCase
      }}</a
    >
  </h2>
  <a
    routerLink="/recepten/{{ recipe.bookRef }}/{{ recipe.id }}"
    [queryParams]="{weergave: modernize ? 'moderniseren' : 'historiseren'}"
    *ngIf="['GENT1499', 'Noot1514', 'N1669', 'Baten1593'].indexOf(recipe.bookRef) >= 0"
    ><img
      src="/assets/gerechten/{{ recipe.bookRef }}/{{ recipe.bookRef }}-{{
        recipe.id
      }}.jpg"
      style="
        width: calc(100% + 64px);
        position: relative;
        left: -32px;
        margin: 8px 0px;
      "
  /></a>

  <div>
    <ul
      style="
        display: flex;
        flex-direction: row;
        list-style: none;
        column-gap: 16px;
        margin: 0px;
        padding: 0px;
        flex-wrap: wrap;
      "
    >
      <li *ngFor="let tag of recipe?.modernized?.tags ?? []">
        <a routerLink="/recepten" [queryParams]="{ tag: tags.concat([tag]) }" queryParamsHandling="merge"
          >#{{ tag }}</a
        >
      </li>
    </ul>
  </div>
</article>
