<!-- <div *ngIf="recipes.length === 0" style="justify-content: center; font-size: 200%; color: #BC5347;">
    <i class="fa-solid fa-spinner"></i>
</div> -->

<spinner [show]="recipes.length === 0" style="display: flex; justify-content: center;"></spinner>

<div id="recipes" responsive-column>
    <div class="recipes-column" *ngFor="let column of columns">
        <ng-container *ngFor="let recipe of recipes; let i = index">
            <recipe-teaser
              *ngIf="(i % numColumns) === column"
              [recipe]="recipe"
              [modernize]="modernize"
              [linkTags]="linkTags"
            ></recipe-teaser>
        </ng-container>
    </div>
</div>
