<h1>Cokeryen</h1>

<div id="container">
  <div id="centerColumn">
    <book-teasers [books]="books" [weergave]="weergave"></book-teasers>

    <div style="gap: 16px;">
      <toolbar
        [(modernize)]="modernize"
        [modernizable]="bookRef && books.hasOwnProperty(bookRef) ? books[bookRef].modernized : true"
      ></toolbar>
      <div class="pageTitleContainer">
        <h3>{{ pageTitle }}</h3>
      </div>
    </div>

    <div id="recipes">
      <div>
        <ng-container *ngFor="let recipe of recipes; let i = index">
          <recipe-teaser
            *ngIf="i % 3 === 0"
            [recipe]="recipe[0]"
            [book]="recipe[1]"
            [modernize]="modernize"
            [tags]="tags"
          ></recipe-teaser>
        </ng-container>
      </div>
      <div>
        <ng-container *ngFor="let recipe of recipes; let i = index">
          <recipe-teaser
            *ngIf="i % 3 === 1"
            [recipe]="recipe[0]"
            [book]="recipe[1]"
            [modernize]="modernize"
            [tags]="tags"
          ></recipe-teaser>
        </ng-container>
      </div>
      <div>
        <ng-container *ngFor="let recipe of recipes; let i = index">
          <recipe-teaser
            *ngIf="i % 3 === 2"
            [recipe]="recipe[0]"
            [book]="recipe[1]"
            [modernize]="modernize"
            [tags]="tags"
          ></recipe-teaser>
        </ng-container>
      </div>
    </div>
  </div>
</div>
