@font-face {
    font-family: "Humanistic";
    src: url(/assets/fonts/humanistic.ttf) format("truetype");
}

@font-face {
    font-family: "Manuskript";
    /* src: url(/assets/fonts/deutschische.otf) format("opentype"); */
    src: url(/assets/fonts/manuskript.ttf) format("truetype");
}

/* @font-face {
    font-family: "HumanisticCursive";
    src: url(/assets/fonts/humanistic-cursive.ttf) format("truetype");
}

@font-face {
    font-family: "IndiraK";
    src: url(/assets/fonts/indira-k.ttf) format("truetype");
} */

h1, h1 a {
    font-family: "Manuskript";
    text-shadow: #BC5347 2px 3px; 
    margin-top: 48px !important;
}

h1, h1 a:hover {
    text-decoration: none;
}

h2, h3, p, a, button, span, li { 
    font-family: Humanistic, serif;
}

h3 {
    font-variant: small-caps;
    font-weight: bold;
    font-size: 16pt;
}

html, body, h1, h2, h3, div, p, section,article {
    margin: 0px;
    padding: 0px;
    display: flex;
    /* color: #5F5053; */
}

html {
    justify-content: center;
    width: 100vw;
}

@media screen and (max-width: 1000px) {
    body, body > * {
        width: calc(100vw - 32px);
    }

    h1 {
        font-size: 60pt;
    }
}

@media screen and (min-width: 1000px) {
    body, body > * {
        width: 984px;
    }

    h1 {
        font-size: 92pt;
    }
}

p, li {
    font-size: 12pt;
    line-height: 1.667;
}

html {
    background: #F1E4D3;
    color: #5F5053;
}

.box {
    background: white;
    color: #5F5053;
}

a {
    text-decoration: none;
    color: #5F5053;
}

a:hover {
    text-decoration: underline;
}

#container {
    flex-direction: column;   
}

#centerColumn {
    flex-direction: column;
    gap: 16px;
}

.content {
    background: white;
    color: #5F5053;
    border-radius: 8px;
    padding: 32px;
    flex-direction: column;
}

