@font-face {
    font-family: "Humanistic";
    src: url(/assets/fonts/humanistic.ttf) format("truetype");
}

@font-face {
    font-family: "HumanisticCursive";
    src: url(/assets/fonts/humanistic-cursive.ttf) format("truetype");
}

@font-face {
    font-family: "IndiraK";
    src: url(/assets/fonts/indira-k.ttf) format("truetype");
}

h1, h2, h3 { 
    font-family: IndiraK, serif;
}

h3 {
    font-variant: small-caps;
    font-weight: bold;
    font-size: 16pt;
}

html, body, h1, h2, h3, div, p, section,article {
    margin: 0px;
    padding: 0px;
    display: flex;
    /* color: #4a4a4a; */
}

html {
    justify-content: center;
    width: 100vw;
}

@media screen and (max-width: 1000px) {
    body, body > * {
        width: calc(100vw - 32px);
    }
}

@media screen and (min-width: 1000px) {
    body, body > * {
        width: 984px;
    }
}

p, li {
    font-size: 12pt;
    line-height: 1.667;
}

html {
    background: #bfbf58;
    color: white;
}

.box {
    background: white;
    color: #4a4a4a;
}

a {
    text-decoration: none;
    color: #4a4a4a;
}

a:hover {
    text-decoration: underline;
}

#container {
    flex-direction: column;   
}

#centerColumn {
    flex-direction: column;
    gap: 16px;
}

.content {
    background: white;
    color: #4a4a4a;
    border-radius: 8px;
    padding: 32px;
    flex-direction: column;
}

